
#headerVR {
	width: 99%;
	border: 1px solid #999;
	margin: 6px 6px 6px 6px;
	padding: 2px 2px 2px 2px;
}

#leftColVR {
	height: 100%;
	border: 1px solid #999;
	margin: 6px 6px 6px 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	overflow-y:auto; 
}

#contentVR {
	height: 100%;
	border: 1px solid #999;
	margin: 6px 6px 6px 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

#majorColunaEsquerda {
	padding-right: 8px;
	margin-right: 6px;
}

.ui-resizable-handle:HOVER {
	background-color: #D5D5D5;
}

.gridSelectable {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.linkItem {
	font-family: "Lucida Grande",Geneva,Arial,Verdana,sans-serif; 
	font-size: 10px; 
	color:#0088CC;
}
.linkItem:HOVER {
	font-family: "Lucida Grande",Geneva,Arial,Verdana,sans-serif; 
	font-size: 10px;
	text-decoration: !important underline;
}

#itens .rf-ddm-itm {
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    padding: 1px 35px 1px 1px;
    position: relative;
    white-space: nowrap;
}

#itens .rf-ddm-itm-unsel {
    border: 1px solid transparent;
    padding: 1px 36px 2px 2px;
}

#itens .rf-ddm-itm-sel {
    background-color: #F1EEE9;
    background-image: url("#{resource['docflow:images/menu_item_bg.png']}");
    background-position: left bottom;
    background-repeat: repeat-x;
    border: 1px solid #D4CFC7;
    cursor: pointer;
    padding: 1px 36px 2px 2px;
    z-index: 10;
}

#itens .rf-ddm-itm-dis {
    border: 1px solid transparent;
    color: #B1ADA7;
    cursor: default;
}

#itens .rf-ddm-itm-ic {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

#itens .rf-ddm-itm-lbl {
    color: #000000;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    z-index: 2;
}

#itens .rf-ddm-sep {
    border-top: 1px solid #C4C0B9;
    font-size: 0;
    margin: 2px 0 2px 24px;
}

#itens .rf-ddm-itm-dis .rf-ddm-nd {
    background-position: center bottom;
}

/**
 * jQuery UI Selectable 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }

/*!
 * jQuery UI Resizable 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { background: url("#{resource['docflow:images/handle-v.png']}") no-repeat scroll 1px 50% transparent; position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/**
 * PopUp Busca
 */
#divPopupBusca #leftColVR {
	height: 430px;
}
#divPopupBusca #contentVR {
	height: 430px;
}

#divPopupBusca #panelOverflow {
	height: 430px;
}
